# This file is a template for .env file, 
# you can copy this file and rename it to .env

# Enter your own GOOGLE API KEY here
VITE_GOOGLE_API_KEY=

# SMS Gateway
RICHMO_SMS_API_KEY=
RICHMO_MASK=

# Production URL
FRONTEND_URL=
VITE_BACKEND_URL=